<section class="container pt-3 text-center">
    <div class="accordion accordion-flush" id="home">

      <section class=" w-50 mx-auto text-center pb-3 ">
        <h1 class="p-3 fs-2 border-bottom  border-3 mb-3  ">Sobre <span class="text-primary">Mi</span>
        </h1>
      </section>
    
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Pasar hambre y frio, no se lo deseo a nadie.
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#home">
          <div class="accordion-body">Lamentablemente la vida me pego a tan temprana edad que a los 10 año perdi a mi
            querido Padre, hasta hoy en dia
            extraño su ausencia, la que tenia que ser mi mejor infancia junto a mi Papa nunca lo pudo ser.
            Lamentablemente tuve que aprender solo a
            jugar a la pelota y muchas cosas mas que me hubiera gustado hacer junto a el.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Deben haber cosas que te inspiren, que te hagan feliz de levantarte por la mañana y
            ser parte de la humanidad
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#home">
          <div class="accordion-body">Venimos de virus y bacterias además los simios son nuestros primos y por si esto
            fuera
            poco nuestra inteligencia está atrapada en pensamientos y sentimientos capaz de lo mejor y lo peor. Somos
            una
            mezcla curiosa lo que nos convierte en un peligro para nosotros mismos. El ser humano a causado más daño y
            sufrimiento a sus semejantes y otras especies en unos
            pocos cientos de miles de años que todos los fenómenos naturales en este periodo y posiblemente estemos
            más
            cerca de aniquilar nuestra bella tierra antes que nos dañe cualquier evento espacial.</div>
        </div>
      </div>
    </div>
  </section>