<section class=" w-50 mx-auto text-center pt-5 ">
    <h1 class="p-3 fs-2 border-top border-3 mb-4">Pasatiempos <span class="text-success">Personal</span>
    </h1>
  </section>

  <!-- Pasa Tiempo -->
  <section class="experiencia seccion-clara">
    <div class="container text-center">
      <div class="row">
        <!-- Pyton-->
        <div class="col-12 col-md-4 mb-4">

          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pc-display" viewBox="0 0 16 16">
            <path style="color: #09ac1e;" d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
          </svg>
          <p style="color: #09ac1e;">Tecnologia</p>
          <p>Desde los dispositivos móviles que llevamos en nuestros bolsillos hasta las maravillas de la inteligencia
            artificial, la tecnología nos abre puertas a un futuro emocionante y lleno de oportunidades. Sin duda, es un
            gusto estar inmersos en este mundo en constante evolución.</p>
          <span class=" iconos border p-1 me-1 bg-success text-white rounded-3 ">Python</span>
          <span class=" iconos border p-1  me-1 bg-success text-white rounded-3 ">Java</span>
          <span class=" iconos border p-1  bg-success text-white rounded-3 ">PHP</span>
        </div>
        <!-- Java-->
        <div class="col-12 col-md-4 mb-4 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calculator-fill" viewBox="0 0 16 16">
            <path style="color: #09ac1e;" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5zm0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z"/>
          </svg>
          <p style="color: #09ac1e;">Ciencia Exacta</p>
          <p>la ciencia exacta nos proporciona herramientas poderosas para desentrañar los misterios del cosmos.Es un
            verdadero placer sumergirse en la belleza de la ciencia exacta, ya que nos desafía
            a pensar de manera crítica y nos abre la puerta a un conocimiento profundo y fascinante.</p>
          <span class=" iconos border p-1 me-1 bg-success text-white rounded-3 ">Algebra</span>
          <span class=" iconos border p-1 me-1 bg-success text-white rounded-3 ">Analisis</span>
          <span class=" iconos border p-1 bg-success text-white rounded-3 ">Fisica</span>
        </div>
        <!-- Pyton-->
        <div class="col-12 col-md-4 mb-4 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dribbble" viewBox="0 0 16 16">
            <path style="color: #09ac1e;" fill-rule="evenodd" d="M8 0C3.584 0 0 3.584 0 8s3.584 8 8 8c4.408 0 8-3.584 8-8s-3.592-8-8-8zm5.284 3.688a6.802 6.802 0 0 1 1.545 4.251c-.226-.043-2.482-.503-4.755-.217-.052-.112-.096-.234-.148-.355-.139-.33-.295-.668-.451-.99 2.516-1.023 3.662-2.498 3.81-2.69zM8 1.18c1.735 0 3.323.65 4.53 1.718-.122.174-1.155 1.553-3.584 2.464-1.12-2.056-2.36-3.74-2.551-4A6.95 6.95 0 0 1 8 1.18zm-2.907.642A43.123 43.123 0 0 1 7.627 5.77c-3.193.85-6.013.833-6.317.833a6.865 6.865 0 0 1 3.783-4.78zM1.163 8.01V7.8c.295.01 3.61.053 7.02-.971.199.381.381.772.555 1.162l-.27.078c-3.522 1.137-5.396 4.243-5.553 4.504a6.817 6.817 0 0 1-1.752-4.564zM8 14.837a6.785 6.785 0 0 1-4.19-1.44c.12-.252 1.509-2.924 5.361-4.269.018-.009.026-.009.044-.017a28.246 28.246 0 0 1 1.457 5.18A6.722 6.722 0 0 1 8 14.837zm3.81-1.171c-.07-.417-.435-2.412-1.328-4.868 2.143-.338 4.017.217 4.251.295a6.774 6.774 0 0 1-2.924 4.573z"/>
          </svg>
          <p style="color: #09ac1e;">Deporte</p>
          <p> Ya sea corriendo, nadando, jugando fútbol, baloncesto o cualquier otro deporte, el gusto por el deporte
            nos brinda una sensación de satisfacción, bienestar y alegría. Es una fuente de inspiración y una forma
            maravillosa de disfrutar la vida y vivirla al máximo.</p>
          <span class=" iconos border p-1 me-1 bg-success text-white rounded-3 ">Futbol</span>
          <span class=" iconos border p-1 me-1 bg-success text-white rounded-3 ">Trekking</span>
          <span class=" iconos border p-1 bg-success text-white rounded-3 ">Ciclismo</span>
        </div>
      </div>
    </div>
  </section>
