<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-grid gap-2 col-3 mx-auto mt-5">
                <button class="btn btn-primary" type="button" (click)="mostrarFormulario()">Inscribirme a Cursos</button>
            </div>
        </div>
    
        <!-- Componente hijo -->
        <div class="col-12" *ngIf="habilitarForm==true" >
            <app-hijo (registro)="obtenerAlumno()" 
            (habilitarEmmitter)="getHabilitar($event)"></app-hijo>
        </div>

        <!-- Tabla de datos -->
        <!--
        <div class="col-12 mt-4 ">
            <table class="table table-striped "*ngIf="listaRegistro.length>0" >
                <thead>
                    <tr class=" text-center">
                      <th scope="col">#</th>
                      <th scope="col">Nombre y Apellido</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Curso</th>
                      <th scope="col">Gmail</th>
                      <th scope="col">Descripcion</th>
                    </tr>
                  </thead>
                  <tbody class=" text-center">
                    <tr *ngFor="let a of listaRegistro; let i = index" >
                      <th scope="row">{{i}}</th>
                      <td>{{a.nombre}}</td>
                      <td>{{a.numero}}</td>
                      <td>{{a.curso}}</td>
                      <td>{{a.gmail}}</td>
                      <td>{{a.descripcion}}</td>
                    </tr>
                  </tbody>
            </table>
        </div>
      -->
    </div>
    
</div>