<!--===============Slider de imagenes==============-->


<section class="w-50 mx-auto text-center pt-4 mt-3" id="intro">

  
  <h1 class="text-center p-2 fs-2 border-bottom border-3 mb-5 text-primary ">Sistema Informatico Colqui</h1>
    
  <div class="">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <h1>
          <img src="assets/img/sinco.png" style="width: 120px;
            height: 120px;
            border-radius: 20px;
            justify-content: center;" alt="Sistema Informatico Colqui">
        </h1>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <h5 class="text-center p-2 f-1 border-bottom border-3 mb-5 ">Encargada en el Desarrollo de <span class="text-primary">Software <span
    class="text-black">y</span> Paginas Web</span></h5>
  
      </div>
    </div>
  </div>
  <p class="p-3 fs-5 "><span class="text-primary ">S.In.Co </span>es un pequeño proyecto que se creo en el 2.020,
    no solo esta involucrado en la parte informatica sino que tambien ayudar a que la gente aprenda a programar.
    Es la compañia donde te ayudara a desarrollar la
    pagina web que tanto anda necesitando tu negocio o emprendimiento</p>
</section>



<!--===============Servicios==============-->

<section class="container-fluid">
  <div class="row w-75 mx-auto  servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="assets/img/desarrollo.png" alt="desarrollo" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Desarrollo</h3>
        <p class="px-4">Desarrollo de aplicacion Web, moviles y ecommerce</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="assets/img/concepto.png" alt="desarrollo" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Branding</h3>
        <p class="px-4">Diseños e implementacion de productos digitales</p>
      </div>
    </div>
  </div>
  <div class="row w-75 mx-auto  servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="assets/img/comunicaciones.png" alt="desarrollo" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Comunicacion</h3>
        <p class="px-4">Desarrollo de comunicacion constante entre el Cliente y Proveedor </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="assets/img/seo.png" alt="desarrollo" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">SEO</h3>
        <p class="px-4">Analizamos la eficiencia, damos soporte y optimizamos los sitios WEB</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="assets/img/social.png" alt="desarrollo" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Marketing Digital</h3>
        <p class="px-4">Busca conocer a la audiencia en profundidad para ofrecerles personalizadas.</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="assets/img/Web-Design-PNG-File.png" alt="desarrollo" width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-1">Diseño Web</h3>
        <p class="px-4">Nos enfocamos en el desarrollo de interfaces digitales, como el diseño de sitios y aplicaciones para web.</p>
      </div>
    </div>
  </div>
</section>

<!--=============== A cerca de Nosotros ==============-->

<section>
  <div class="w-75 m-auto text-center  " id="equipo">
    <h1 class="mb-5 fs-2 ">Un equipo pequeño con <span class="text-primary ">Resultado Grande</span></h1>
    <p class="fs-5">Desarrollar Software y que tenga exito, es como comer vidrio y mirar al abismo. Es decir que los
      primeros meses son
      emocionante. luego la realidad se impone, las cosas no van tan bien como se habia planeado, los clientes no se
      inscriben,
      la tecnologia o el producto no funciona tan bien como se pensaba.</p>
    <p class="fs-5">Si te sientes listo para este reto, te esparemos para que te unas a nosotros.</p>
  </div>
  <div class="mt-4 text-center">
    <img class="img-fluid" src="assets//img/equipo.jpg" alt="equipo">
  </div>
</section>