<section class="container">
    <section class=" w-50 mx-auto text-center pt-5 ">
        <h1 class="p-3 fs-2 border-top border-3">Mi Pequeña <span class="galeria text-success">Familia</span>
        </h1>
    </section>

    <section class=" mt-3">
        <div class="row ">
            <div class="col-12 col col-md-6 col-lg-3 pb-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/mama.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center fs-4 ">Mi Madre</p>
                        <p class="card-text">Nunca podré agradecerte suficiente todo lo que me has brindado. Gracias,
                            mamá</p>

                    </div>
                </div>
            </div>
            <div class="col-12 col col-md-6 col-lg-3 pb-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/boca-yo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center fs-4 ">Yo</p>
                        <p class="card-text">Soy timido al momento de socializarme y me gusta que este todo en orden.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col col-md-6 col-lg-3 pb-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/juanchula.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center fs-4">Mi Hermano</p>
                        <p class="card-text">Hay veces que me enfadas y veces que me irritas. pero aún así te quiero con
                            locura.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col col-md-6 col-lg-3 pb-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/mari.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center fs-4">Mi Hermana</p>

                        <p class="card-text">Salud, éxito y poder estar junto a ti millones de años más estos son mis
                            deseos para ti.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>