<section class=" container col-12">
    <h1 class="text-center text-primary">Contenidos</h1>
    <div class="row">
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/python.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Facil</span></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/java.jpg" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Media</span></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/php.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Media</span></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/xampp.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Facil</span></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 ">
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/angular.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Dificil</span></h5>
                </div>
            </div>
        </div>

        
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/spring.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Dificil</span></h5>
                </div>
            </div>
        </div>

        
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/mysql.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Medio</span></h5>
                </div>
            </div>
        </div>

        
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/serve.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Medio</span></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 ">
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/typescript.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Medio</span></h5>
                </div>
            </div>
        </div>

        
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/github.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Medio</span></h5>
                </div>
            </div>
        </div>

        
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/HTML_css_js.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Facil</span></h5>
                </div>
            </div>
        </div>

        
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/office.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Facil</span></h5>
                </div>
            </div>
        </div>
    </div>

</section>



<app-padre></app-padre>