<section class=" container col-12">
    <h1 class="text-center text-primary">Contenidos</h1>
    <div class="row">
        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/python.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Facil</span></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/java.jpg" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Media</span></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/php.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Media</span></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3  ">
            <div class="card" style="width: 15rem;">
                <img src="assets/img/xampp.png" class="card-img-top p-2 ms-4" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Dificultad: <span>Facil</span></h5>
                </div>
            </div>
        </div>


    </div>
</section>

<app-padre></app-padre>
















<!--
    <div class="d-grid gap-2 col-3 mx-auto mt-4">
    <button class="btn btn-primary" type="button" (click)="buscar()">Buscar Cursos</button>
</div>
 -->

<!-- 
<div class="container">
    <div class="row">
        <section class="card col-3" *ngFor="let m of listaMaterias" style="width: 18rem;">
            <div class="card-header">
                <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{m.titulo}}</h5>
                <p class="card-text">{{m.dificultad}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </section>
    </div>
</div>
-->