<header class="container text-center pt-4">
    <section class=" w-50 mx-auto text-center pb-3 ">
        <h1 class="p-3 fs-2 border-bottom  border-3 mb-3  ">Mi Pequeña <span class="text-success">Biografia</span>
        </h1>
      </section>
    <h2 ></h2>
    <div class="row pt-4">
        <div class="col-sm-12 col-md-6 mt-3">
            <img src="assets/img/abanderado.jpg" class=" img-fluid rounded-3 border border-5 border-opacity-75 "
                alt="Abanderado">
        </div>
        <div class="col-sm-12 col-md-6">
            <div class=" row contenido-texto">
                <h3><span class="mt-3">1</span></h3>
            </div>
            <div>
                <p class="fs-6 pt-5">Creo que cuando tenia, entre 6 o 8 años algo asi pensaba que estaba loco
                    simplemente era extraño.
                    Porque estaba claro que otras personas no, mi mente solo queria resolver ejercicios de
                    matematica no
                    era de salir a los recreo a jugar como todo niño haria a esa edad, me acuerdo que un domingo
                    fuimos a
                    la feria, vi un libro de matematica y se lo pedi a mi madre que me lo compre, eran ejercicios de
                    matematica avanzado pero leyendo pude comprender y resolver todos los ejercicios del libro.</p>
            </div>
  
        </div>
    </div>
  </header>