<section class="container">
    <section class=" w-50 mx-auto text-center pt-5 ">
        <h1 class="p-3 fs-2 border-top border-3">Galeria de <span class="galeria text-success">Imagenes</span>
        </h1>
    </section>

    <section class="container mt-3 ">
        <div class="row ms-2 ">
            <div class="col-12 col-md-6 col-lg-3 pb-4 ">
                <img src="assets/img/maxi.png" class="rounded shadow-lg bg-body-tertiary " alt="...">
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-4">
                <img src="assets/img/maxi2.png" class="rounded shadow-lg" alt="...">
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-4">
                <img src="assets/img/maxi3.png" class="rounded shadow-lg" alt="...">
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-4">
                <img src="assets/img/maxi4.png" class="rounded shadow-lg" alt="...">
            </div>
        </div>

        <div class="row ms-2  ">
            <div class="col-12 col-md-6 col-lg-3 pb-4">
                <img src="assets/img/maxi5.png" class="rounded shadow-lg  bg-body-tertiary " alt="...">
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-4">
                <img src="assets/img/maxi6.png" class="rounded shadow-lg" alt="...">
            </div>
            <div class="col-12 col-md-6 col-lg-3 pb-4">
                <img src="assets/img/maxi7.png" class="rounded shadow-lg" alt="...">
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <img src="assets/img/maxi8.png" class="rounded shadow-lg" alt="...">
            </div>
        </div>

    </section>
</section>